@model IEnumerable<WebStartUp.kaspi.lab.CartService.ProductDTO>
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<h2>список товаров в корзине</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                     + Convert.ToBase64String(item.ThumbNailPhoto) + "\" />")
            </td>
            <td>
                @Html.Raw(item.ProductName)
            </td>
            <td>
                @using (Html.BeginForm("DeleteCartItem", "Cart", FormMethod.Post))
                {
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <input type="submit" value="убрать" />
                }
            </td>
        </tr>
    }
</table>
@if (Model.Count() != 0)
{
<input type="button" value="Оформить заказ" onclick="location.href='@Url.Action("CreateOrder", "Cart")'" />
<input type="button" value="Отчистить корзину" onclick="location.href='@Url.Action("DeleteCart", "Cart")'" />
}
else
{
<h2> список пуст</h2>
}

